/ left-side
= render 'shared/chat-side'

/ main
.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        sample group

      = link_to "edit","edit" ,class: "chat-main__header--group-edit-btn"

    .chat-main__header-members
      MEMBER:
      %i jj

  .chat-main__body
    .chat-main__body--messages-list
      = render @messages

  .chat-main__footer
    .form.chat-main__footer-form
      .chat-main__footer-body
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'message', placeholder: 'type a message'
          = f.label :image, class: 'chat-file' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'image'
          = f.submit 'Send', class: 'submit'
